body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative
}

#phone {
  position: absolute;
  z-index: 50;
  pointer-events: none;
}

.app {
  background-color: #f8f8f4;
  width: 250px;
  height: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -125px;
  margin-top: -272px;
}

.top-bar {
  height: 40px;
  border-bottom: 1px solid #f0f0e6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.phone-toolbar {
  background-color: #333;
  height: 27px;
}

nav {
  z-index: 100;
}

.secret-background {
  background-color: white;
  z-index: 150;
  width: 300px;
  height: 565px;
  margin-left: -570px;
}

#menuToggle {
  display: block;
  position: absolute;
  top: 40px;
  left: 14px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}


#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 26px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;

  background: #696960;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease,
              width 0.5s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #696960;
  width: 29px;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 250px;
  height: 485px;
  box-sizing: border-box;
  margin: 3px 0 0 -50px;
  padding: 125px 20px 20px 60px;
  padding-top: 125px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 16px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}
